:root {
    --background-color: #05091E;
    --text-color: #ffffff;
    --link-hover-color: #036;
    --section-background-color: #0a214c;
}

[data-theme="light"] {
    --background-color: #ffffff;
    --text-color: #05091E;
    --link-hover-color: #039be5;
    --section-background-color: #f0f0f0;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    margin-bottom: 10px;
}

nav ul {
    list-style-type: none;
    background-color: #02204a;
    text-align: center;
    padding: 10px 0;
    border-radius: 5px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    padding: 15px 20px;
    display: inline-block;
}

nav ul li a:hover, nav ul li a:focus {
    background-color: var(--link-hover-color);
    border-radius: 5px;
}

section {
    margin-bottom: 20px;
    padding: 20px;
    background-color: var(--section-background-color);
    border-radius: 5px;
}

#theme-toggle {
    background-color: #02204a;
    color: white;
    border: none;
    padding: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 5px;
}

#theme-toggle:hover {
    background-color: #036;
}
